<html>
  
  <head>
    <title>Créer un potin</title>
  </head>
  
  <body>
    <h1>Crée un potin !</h1>
    <p>Balance ton potin via le formulaire ci-dessous</p>
    
    <form action='/gossips/new/' method='POST'>
      <!-- action = URL qui va recevoir les données du formulaire & method = type de requête -->
      Saisi ici ton nom :  <input type='text' name='gossip_author'/><br/>
      Balance ton potin : <input type='text' name='gossip_content'/><br/>
      <input type='submit'/>
      <!--le input type est le bouton user pour envoyer les données par POST --> 

    </form>
  </body>

</html>